In [1]:
print('This is a line of code to compare versions in git of the same file')

This is a line of code to compare versions in git of the same file

In [1]:
1 + 2

3

In [3]:
37_000

37000

In [4]:
type(-56)

int

In [6]:
type(46.)

int

In [7]:
type( -0.1e-3 ) # what is this number?

float

In [8]:
5/2

2.5

In [1]:
5//2

2

In [4]:
6//4

1

In [10]:
123_456_789_012_345_678_901_234_567_890.

1.2345678901234568e+29

In [11]:
5e-3

0.005

In [15]:
10//6

1

In [17]:
5%2

1

In [20]:
'''hola
chao'''

'hola\nchao'

In [23]:
'hola ' + 'es '+'una '+'palabra' # Ojo con el espacio

'hola es una palabra'

In [25]:
'Data, he said, data! ' * 3

'Data, he said, data! Data, he said, data! Data, he said, data! '

In [27]:
var = 'hola'
var

'hola'

In [7]:
a, b = 1, 2
a + b

3

In [31]:
a = 1
b = 2
a + b

3

In [33]:
x, y, z = 1, "b", 3*7

1

In [35]:
v = 7
v += 3
v

10

In [36]:
5 > 4 and 6 > 8

False

In [37]:
5 > 4 or 6 > 8

True

In [38]:
not(5 == 6)

True

In [39]:
a = [1,2,3]

In [40]:
type(a)

list

In [41]:
b = [True, False, True]

In [42]:
type(b)

list

In [43]:
b[0]

True

In [44]:
a[0] # In python the first index is zero!

1

In [45]:
c = [[1,2,3], ['a', 'b', 'c']]

In [46]:
type(c)

list

In [53]:
c[0]

[1, 2, 3]

In [52]:
c[0][1]

2

In [58]:
# Tuples
# Once created, cannot change it

d = (1,2,3)
type(d)

tuple

In [57]:
d = [2,3]
d

[2, 3]

In [59]:
singleDayTuple = ( "Mon", )
type( singleDayTuple )

tuple

In [60]:
type( ( 1 ) )

int

In [61]:
type( ( 1, ) ) # This how you create a tuple with a single element. You need to add the comma! b

tuple

In [62]:
x, y, z = ( "a", True, 0 )

In [64]:
y

True

In [74]:
a = [1,2,3,4,5,6]
a[len(a)-1]

6

In [68]:
a[-2]

5

In [72]:
b = a
b[0] = 100
b
a 
# This is a very important feature! Copies are by default connected! Changes in one leads to changes in the other.

[100, 2, 3, 4, 5, 6]

In [76]:
a = [1,2,3,4,5,6]
b = a.copy() # This command is important! 
b[0] = 100
b
a

[1, 2, 3, 4, 5, 6]

In [83]:
# List comprehension zijn belangrijk

someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[x**2 for x in someNums]              # a list comprehension

[1, 4, 9, 16, 25]

In [84]:
[(x,x**2) for x in someNums]

[(1, 1), (-2, 4), (3, 9), (-4, 16), (5, 25)]

In [86]:
[x for x in someNums if x<0 and x > -3]

[-2]

In [88]:
nums = ( 1, 2, 3 )
#nums[1] = 22              # what's wrong here?

TypeError: 'tuple' object does not support item assignment

In [89]:
txt = "Statistics"
#txt[0] = "s"              # what's wrong here?

TypeError: 'str' object does not support item assignment

In [97]:
v = [ 1, 2, 3 ]
a = v
v = [ 4, 5, 6 ]
a

[1, 2, 3]

In [99]:
v = [ 1, 2, 3 ]
b = v
v[0:2] = [ 4, 5, 6 ]
b

[4, 5, 6, 3]

In [100]:
v = [ 1, 2, 3 ]
b = v
v[:] = [ 4, 5, 6 ]
b

# So what I've learned from all this is that the intuitive logic of defining objects in R applies in Python,
# as long as you are redefining the whole object. Otherwhise, when modifiying part of the object or the entirity
# by calling (v[:]) you mantain the bond between variables with same object allocated.

[4, 5, 6]

In [102]:
a = [1,2]
b = a
a = [3,4]
b

[1, 2]

In [8]:
a = [1,2]
b = a
a[:] = [3,4]
b

[3, 4]

In [112]:
v = [ 5, 2, 1, 4, 3 ]
v.sort()
v
# Here v should be sorted in ascending order [ 1, 2, 3, 4, 5 ]

[1, 2, 3, 4, 5]

In [113]:
v = [ 5, 2, 1, 4, 3 ]
v.sort(reverse = True)
v

[5, 4, 3, 2, 1]

In [156]:
v = [ 5, 2, 1, 4, 3 ]
w = v
v = v.copy()
v.sort()
w
# ...
# Here v should be sorted [ 1, 2, 3, 4, 5 ] but w should still be [ 5, 2, 1, 4, 3 ]

[5, 2, 1, 4, 3]

In [158]:
v = [ 5, 2, 1, 4, 3 ]
v.reverse()
v

# ...
# Here v should be reversed [ 3, 4, 1, 2, 5 ]

[3, 4, 1, 2, 5]

In [160]:
v = [ 5, 2, 1, 4, 3 ]
w = v.copy()
v.reverse()
w

# ...
# Here v should be reversed [ 3, 4, 1, 2, 5 ] but w should still be [ 5, 2, 1, 4, 3 ]

[5, 2, 1, 4, 3]

In [162]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.remove('a')
v


# ...
# Here, the third element should be deleted from v: [ "eeeee", "bb", "dddd", "ccc", "bb" ]

['eeeee', 'bb', 'dddd', 'ccc', 'bb']

In [163]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
del v[1]
v
# ...
# Here, the first element with value "bb" should be removed from v: [ "eeeee", "a", "dddd", "ccc", "bb" ]
# Any ideas how to filter out all "bb" elements?

['eeeee', 'a', 'dddd', 'ccc', 'bb']

In [164]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v[2] = 'F'
v

# ...
# Insert element "F" to v at index 2

['eeeee', 'bb', 'F', 'dddd', 'ccc', 'bb']

In [170]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
v.insert(2, w)
v

# ...
# Insert ("slice in") elements of w to v at index 2 (so, that v gets length 9 and v[2:5] has elements from w).

['eeeee', 'bb', ['ffffff', 'g', 'ffffff'], 'a', 'dddd', 'ccc', 'bb']

In [172]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]

v[0:2] + w + v[2:]

# This is another, more accurate way to do it

['eeeee', 'bb', 'ffffff', 'g', 'ffffff', 'a', 'dddd', 'ccc', 'bb']

In [174]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.append('F')
v

# ...
# Here, a single new element "F" should be *appended* to the end of the list

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'F']

In [182]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]

v.extend(w)
v
# ...
# Extend the list by append elements of w to v at the end of v. (so, length of v should be 9!)
# What goes wrong with `append(w)` here?

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'ffffff', 'g', 'ffffff']

In [183]:
# CHECKING MEMBERSHIP

v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "bbbab"

w in v

# ...
# How to programmatically find whether the value of w is *in* the iterable list v?
# The result should be True or False

True

In [194]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "abaab"

(w in v) == False

w not in v

# ...
# How to programmatically find whether the value of w is *not in* the iterable list v?
# The result should be True or False

True

In [195]:
# Understand Conversions

lst = [1,2,3,"x","y","z"]
tuple( lst )              # the argument can be any object which can be iterated over

(1, 2, 3, 'x', 'y', 'z')

In [196]:
tpl = (1,2,3,"x","y","z")
list( tpl )               # the argument can be any object which can be iterated over

[1, 2, 3, 'x', 'y', 'z']

In [197]:
tuple( "Statistics" )     # "Statistics" can be iterated over

('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

In [198]:
list( 'Data Science' )

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [3]:
xs = [ 0, 1, 2, 3, 4, 5 ]
ys = [x**2 + x + 1 for x in xs]
ys

# ys = [ ... ]            # write a comprehension to transform 
                          #   elements of xs according to formula:
                          #   y = x^2 + x + 1

[1, 3, 7, 13, 21, 31]

In [12]:
xs = range(0, 6, 1)   # it should correspond to these numbers [ 0, 1, 2, 3, 4, 5 ]
ys = [x**2 + x + 1 for x in xs]           # as before: y = x^2 + x + 1
ys

[1, 3, 7, 13, 21, 31]

In [14]:
toRemove = "bb"
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [x for x in v if x != toRemove]
w

# w = [ ... for ... if ... ]     # w should not have elements equal the value of toRemove

['eeeee', 'a', 'dddd', 'ccc']

In [15]:
toRemove = [ "bb", "a" ]
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [x for x in v if x not in toRemove]

# w = [ ... for ... if ... ]     # w should *not* have elements *in* toRemove list
w

['eeeee', 'dddd', 'ccc']

In [18]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "aaaqb", "abbaa", "ababab" ]

all(x in v for x in w)

# ...
# Write a statement checking whether *all* elements of w are *in* v.
# The result should be a single True or False value.

True

In [19]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "abaaa", "bbbab", "qbbbq" ]

any(x in v for x in w)
# ...
# Write a statement checking whether *any* element of w is *not in* v.
# The result should be a single True or False value.

True

In [58]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  
weights = [ 57, 58, 62, 84, 64, 74, 57, 44 ]         

list( zip( heights, weights ) )

BMIs = [v / (h/100)**2 for h, v in zip(heights, weights)]

# Aquí el punto clave es el 'for h, v'. Eso le permite a Python identificar las variables. 

BMIs

# Write a statement generating list of BMIs for the 8 persons.
# Hint: [ ... for h, v in ... ]

[19.045073340238563,
 18.101807059704754,
 22.230987127541326,
 22.090729783037478,
 21.383941996057334,
 21.85727788279773,
 21.719250114311837,
 15.405623052414134]

In [28]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
enumerate( heights )                   # this is a generator of ( index, element ) tuple pairs
tuple( enumerate( heights ) )          # do you understand this result?

((0, 173),
 (1, 179),
 (2, 167),
 (3, 195),
 (4, 173),
 (5, 184),
 (6, 162),
 (7, 169))

In [36]:
nestedList = [ "a", [ "ba", [ "bba", "bbb" ], "bc", [ "bda", "bdb" ], "be" ], "c", [ [ "daa", "dab" ] ] ]
nestedList

nestedList[2]
nestedList[1:2]
nestedList[1][1]
nestedList[3][0][1]
nestedList[2][0]
nestedList[3][0][0][2]
nestedList[3][0][0][2::-1]

'aad'

In [56]:
s = 'This_is_a_string'

s[0:5:1]

s[::-1]

# Second ':' is a step command
# Also, step = -1 means that it goes backwards

'gnirts_a_si_sihT'

In [9]:
a = [1,2,3,5,2]
a[::-1]

[2, 5, 3, 2, 1]